html, body{
    margin: 0 0;
    padding: 0 0;
    overflow-x: hidden;
}
body {
    background-image: url("background.jpg");
    background-repeat: repeat;
    background-size: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.effect {
    width: 100vw;
    height: 100vh;
    background-color: #e9f7fb;
    opacity: 70%;
    position: fixed;
    z-index: -1;
}
#main {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-family: "Cairo";
}
#Smiley {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 40vw;
    max-width: 300px;
    border-radius: 50%;
    border:1vw solid #2a5149;
}
h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 0;
}
h2 {
    font-size: 2.5rem;
    font-weight: 900;
}
.txt-box {
    width: 100%;
    background-color: #57a898;
    color: #140a0c;
    padding: 5%;
    border-radius: 30px;
    border: 10px solid #2a5149;
}
.text {
    font-size: 1.5rem;
    width: 80%;
    max-width: 650px;
    font-weight: 700 ;
    margin-top: -4vh;
}
ul {
    text-align: right;
    list-style: none;
    font-size: 1.2em;
}
.txt-box p {
    font-size: 1.2rem;
}
button {
    background-color: #2a5149;
    width: 30%;
    border-radius: 20px;
    border: 2px solid #2a5149;
    font-family: "Cairo";
    transition-duration: 0.5s;
    color: #e9f7fb;
}
button:hover {
    cursor: pointer;
    background-color: #57a898;
    color: #140a0c;
}
header {
    font-size: 3rem;
    font-weight: 700;
}
.divA {
    background-color: #2a5149;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.div {
    width: 90%;
    max-width: 400px;
    max-width: 600px;
    color: #e9f7fb;
    padding: 3%;
}
.txt-box p {
    font-weight: 700;
}
footer {
    background-color: #e9f7fb;
    width: 100%;
}
footer ul {
    text-align: left;
}
.pricing {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2vw;
}
.bigBox {
    width: 40vw;
    max-width: 400px;
}
button a {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    .bigBox {
        width: 80%;
        max-width: 400px;
    }
    .pricing {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        margin-right: 10vw;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .text {
        font-size: 1.2rem;
    }
    h2 {
        width: 100%;
        font-size: 1.6rem;
        margin-left: 7vw;
    }
    header {
        font-size:35px;
    }
    #main {
        margin-top: 50px;
    }
}
